doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/bootstrap-dist-css/bootstrap.min.css')
    script(src="/js/jquery.min.js")
    script(src="/bootstrap-dist-js/bootstrap.min.js")


  body

    .container
      header
       
      .main-content
        block content
      .sidebar
        block sidebar
      .result
        block result
      footer
        p Running on node with Express and Jade


