extends layout
block header
  h1= title
  p Welcome to #{title}
block content
  .image-view
    img(src='/images/image_2020_09_24T04_10_02_643Z.png', alt='Avatar', style='width:100%')
block footer
  p test footer
